.dummy{
color : black;
}

.slds-modal__content {
	overflow: visible;
	overflow-y: visible;
}

.slds-modal__container {
	width : auto; height: 100%; max-height: 100vh;
}
.modal-body{ 
	height : 100% !important; 
	max-height: 100% !important; 
} 
.slds-modal__footer{ 
	display: inline !important; 
}
.modelcls {
  
    height: 450px; /* Fixed height */
    overflow-y: auto; /* Show vertical scrollbar if content exceeds 500px height */
}