.headingclass{
 font-size: 20px;
 
 
 
}

.THIS.slds-spinner_container{
    background: none;
}
.headingclass1{
 font-size: 20px;
 color:gray;
 margin-left: 40px;
 text-align: left;
}
.main{
    background-color: rgb(241,241,241);
    width:100%;
    
}
.img{
    border-radius: 20px;
    height: 200px;
    width: 300px;
    margin-top: 20px;
}
.card{
    
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 30px;
    margin-top: 10px;
    
}
.contant{
    padding-left: 100px;
    padding-bottom: 20px;
}
.cardopp1{
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 20px;
   
}
.cardopp2{
    
    margin-right: 50px;
    margin-top: 10px;
    
 
}
.headingclass1opp{
  font-size: 20px;
  margin-left: 55px;
  text-align: left;
  color:gray;
 
}
.headingclass2opp{
font-size: 20px;
color:gray;
text-align: left;
 margin-left: 30px;
 
}
 
 
 
/* myLWC.css */
.main {
    text-align: center;
    padding: 20px;
}
 
.headingclass {
    font-size: 24px;
}
 
.img {
    max-width: 100%;
    height: auto;
}
 
/* Common styles for Account and Contact sections */
.headingclass1 {
    font-size: 18px;
}
 
.card {
    margin: 10px;
    padding: 10px;
    text-align: left;
}
 
.contant {
    text-align: left;
}
 
/* Styles for larger screens (e.g., desktop) */
@media (min-width: 768px) {
    .slds-grid.slds-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
 
    .slds-col {
        flex: 0 0 calc(33.3333% - 20px);
        margin: 10px;
    }
}
 
/* Styles for smaller screens (e.g., mobile) */
@media (max-width: 767px) {
    .slds-grid.slds-wrap {
        display: block;
    }
 
    .slds-col {
        margin: 10px 0;
    }
}
 
.slds-modal__footer {
    margin: 0px;
}
 
.modal-footer {
    position: fixed;
    bottom: 11%;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    z-index: 1000;
}
.slds-modal__content {
            padding: 0;
            height: auto!important;
            max-height: unset!important;
        }
        
        @media (min-width: 45em) {
            .slds-modal__container {
                margin: 0 auto;
                width: 100%;
                max-width: 80%;
                min-width: 75rem;
            }
        }
.sticky-header {
    position: fixed;
    margin-top:-16px;
    width: 95%;
    background-color: white;
    padding: 10px;
    z-index: 1000; 
    font-size: 22px;
    text-align: center;
}
.slds-spinner_container{
    background-color: none;

}